assets/icons/*
!assets/icons/circle-fill-dark.svg
!assets/icons/circle-fill-light.svg
!assets/icons/signpost-2-light.svg
!assets/icons/signpost-2-dark.svg
!assets/icons/copy-light.svg
!assets/icons/copy-dark.svg
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
